@model List<Vacancy>

@{
     ViewData["Title"] = "Home Page";
}

<h1>Вакансии с сайта hh.ru</h1>
<hr />
<p>Фильтрация вакансий</p>
<form method="post">
    <p>
        <label>Выберете город:</label><br />
        <select name="city" asp-items="ViewBag.Cities"></select>
    </p>
    <p>
        <label>Выберете зарплату:</label><br />
        <select name="RangeSalary" asp-items="ViewBag.RangeSalaries"></select>
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Применить фильтр" />
    </p>
</form>

@if (Model.Any())
{
    @foreach (var vacancy in Model)
    {
        <h2>@vacancy.Name</h2>
        <hr />
        <p>Зарплата: @vacancy.Salary.ToString()</p>
        @if (vacancy.Address != null)
        {
            @if (vacancy.Address.City != null)
            {
                <p>Город: @vacancy.Address.City</p>
                @if (vacancy.Address.Street != null)
                {
                    <p>Улица: @vacancy.Address.Street</p>
                    @if (vacancy.Address.Building != null)
                    {
                        <p>дом. @vacancy.Address.Building</p>
                    }
                }
            }
            <p>@vacancy.Address.Description</p>

        }

        @if (vacancy.KeySkills.Count() != 0)
        {
            <p>Ключевые навыки:</p>
            <ul>
                @foreach (var skill in vacancy.KeySkills)
                {
                    <li>@skill.ToString()</li>
                }
            </ul>
        }

    }
}
else
{
    <p>Вакансии не найдены.</p>
}